[submodule "deps/tech_cells_generic"]
	path = deps/tech_cells_generic
	url = https://github.com/pulp-platform/tech_cells_generic.git
[submodule "deps/apb"]
	path = deps/apb
	url = https://github.com/pulp-platform/apb.git
[submodule "deps/common_cells"]
	path = deps/common_cells
	url = https://github.com/pulp-platform/common_cells.git
