*.str
*.debug
*.npy
*.jou
*.log
*.wdb
*.pb
*.dir/
*.nfs*
*.vcd
*._*
__pycache__
*.gch
.Xil/
*.pyc
synthesis/
*.hex
*.obj
.DS_Store
build/
csrc/asm/**/*.data
csrc/asm/**/*.map
csrc/asm/**/*.elf
csrc/asm/**/*.text
